# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#binary file
emu

# Windows build outputs (meson/msvc/mingw)
*.dll
*.dll.a
*.exe
*.pdb

# meson build directory
build/

# Python
__pycache__/
*.pyc

#editor temp files
\#*
.\#*
*~
~*